body,
html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #93BFB7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilos para el header */
.header-container {
    background-color: #387373;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-container ul {
    list-style: none;
    display: flex;
}

.nav-container li {
    margin: 0 10px;
}


/* Estilos para el submenú */
.dropdown .submenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.dropdown:hover .submenu {
    display: block;
}


.dropdown .submenu li {
    padding: 10px;
}

.dropdown .submenu a {
    text-decoration: none;
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 70px;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/* Estilos sección 1 */

.Section-1-Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

/* Estilos Tittle-Paragraph */

.Tittle-Paragraph {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.Tittle-Paragraph h1 {
    font-size: 2em;
}

.Tittle-Paragraph p {
    font-size: 1.5em;
}

/* Estilos muñeco */

.Muneco {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

/* Estilos de la plataforma */

.Section-2-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.Paragraph-Img {
    display: flex;
    justify-content: spa;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.Paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

.Plataforma {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

/* Estilos para el footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}