* {
    border: 1px solid black;
}

body{
    padding: 0;
    margin: 0;
    font-family: ;
}
.header-container {
    width: 100%;
    border-color: red;
    display: flex;
    background-color: #387373;
    color: white;
}
.nav-container{
    display: flex;
    align-items: center;
}
.nav-container ul{
    display: flex;
    justify-content: center;
}

.nav-container li{
    display: flex;
    margin: 0 10px;
    list-style: none;
}
.logo img{
    width: 50px;
    border-radius: 50%;
    height: auto;
    margin-left: 10px;
    padding: 5px;
}

.Section-1{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
    white-space: nowrap;
}