* {
    border: 1px solid black;
}

body,html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main{
    height: 100%;
}

section{
    height: 100%;
}
.header-container {
    width: 100%;
    border-color: red;
    display: flex;
    background-color: #387373;
    color: white;
}
.nav-container{
    display: flex;
    align-items: center;
}
.nav-container ul{
    display: flex;
    justify-content: center;
}

.nav-container li{
    display: flex;
    margin: 0 10px;
    list-style: none;
}
.logo img{
    width: 50px;
    border-radius: 50%;
    height: auto;
    margin-left: 10px;
    padding: 5px;
}

.Section-1{
    display: flex;
    padding: 20px;
    flex-direction: row;
    background-color: #93BFB7;
    color: white;
}

.Tittle-paragraph{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    flex-direction: column;

}
.Tittle{
    justify-content: center;
}
.Paragraph{
    display: flex;
}

.Paragraph p{
    display: flex;
}

.Guardia{
    display: flex;
    width: auto;
    align-items: center;
}
.Guardia img{
    width: 200px;;
}
a{
    color: white;
    text-decoration: none;
    white-space: nowrap;
}