* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    background-color: #387373;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-container ul {
    list-style: none;
    display: flex;
}

.nav-container li {
    margin: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 70px;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px;
}


.Section-1 {
    background-color: #93BFB7;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.Tittle-paragraph {
    width: 50%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Tittle {
    font-size: 2em;
    /* Cambia el tamaño del título usando em o rem */
    margin-right: 10px;
}

.Paragraph {
    font-size: 1.5em;
    /* Cambia el tamaño del párrafo usando em o rem */
}

.Guardia {
    display: flex;
    width: 50%;
}

.Guardia img {
    max-width: 100%;
    height: auto;
}

.header-container a {
    text-decoration: none;
    color: white;
}